/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: grey;
}

.container {
    display: flex;
}

/* Styles for Search Bar */
.search-container {
    background: white;
    padding: 2em;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center; 
}

.search-bar {
    flex: 1; 
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
}

.search-btn {
    margin-left: 0.5em; 
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-btn:hover {
    background: #7c7c7c6b;
}

/* Styles for Weather Card */
.weather-container {
    background: white;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}

.card {
    background: white;
    padding: 2em;
    border-radius: 5px;
    max-width: 400px;
}
